/********************************************* Tag Selectors *********************************************/

/******************************************** Class Selectors ********************************************/
.logo{
    width: 50px;
    height: 50px;
}
.social_image{
    position: relative;
    top: 2px;
    width: 30px;
    height: 30px;
}
/********************************************* ID Selectors **********************************************/
#headshot{
    width: 200px; 
    height: 200px;
}