/********************************************* Tag Selectors *********************************************/

/******************************************** Class Selectors ********************************************/
.logo{
    width: 50px;
    height: 50px;
}
.social_image{
    position: relative;
    top: 2px;
    width: 30px;
    height: 30px;
}
.headshot{
    width: 200px; 
    height: 200px;
    /* margin: auto; */
}

.summary_container{
    background-color: brown;
}

.summary_col{
   background-color: yellow; 
   border: 1px solid black;
}

/********************************************* ID Selectors **********************************************/
#summary{
    margin: 25;
}

#skills{
    margin: 25;
}